@model AssetMgmt.Models.Cash

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cash</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CashType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CashType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankAccountName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccountName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankAccountNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccountNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Currency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Currency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaturityDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaturityDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CashID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
