@model IEnumerable<AssetMgmt.Models.Divident>

@{
    ViewBag.Title = "Divident";
}

<h2>Divident</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="grid">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PayDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock.Currency)
            </th>
            <th style="text-align:right">
                @Html.DisplayNameFor(model => model.AmountSGD)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PayDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock.Name)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock.Currency)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.AmountSGD)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <b>Total (SGD):</b>
            </td>
            <td style="text-align:right">
                <b>@string.Format("{0:#,##0.00}", ViewBag.TotalAmountSGD)</b>
            </td>
            <td></td>
        </tr>
    </tfoot>

</table>

<script type="text/javascript" charset="utf8">
    $(document).ready(function () {
        $('#grid').DataTable({
            paging: false, "order": [[0, "desc"]],
        "footerCallback": function ( row, data, start, end, display ) {
            var api = this.api(), data;

            // Remove the formatting to get integer data for summation
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                    i.replace(/[\$,]/g, '')*1 :
                    typeof i === 'number' ?
                    i : 0;
            };

            // Total amount
            var totalAmt = api
                .column(4, { filter: 'applied' })
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );

            // Update footer
            $(api.column(4).footer()).html(
                "<b>" + Number(totalAmt.toFixed(2)).toLocaleString('en-US', { minimumFractionDigits: 2 }) + "</b>"
            );
        }
    });
    } );
</script>

